*{
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;

}

#home{
    display: flex;
    background: url(image/back/Frame\ 57.jpg) no-repeat center center/cover;
    margin-bottom: 20px;
    

}



#home h1{
    font-size: 50px;
    margin-top: 130px;
    
    
}

/*  */

#second-section{
    display: flex;
    background: url(image/back/Frame\ 56.jpg) no-repeat center center/cover;
    
}

#second-section h1{
    font-size: 70px;
    margin-bottom: 30px;
}


.half-width{
    width: 50%;
    margin: 70px;
}

.top{
    margin-top: 130px;
}



.top p{
    margin-bottom: 30px;
}
.orange-color{
    color: orange;
}

a{
    color: white;
    padding: 10px;
    
}


.btn {
    padding: 6px 20px;
    border-radius: 20px;
    background-color: aqua;
    color: blue;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}

#recip{
    text-align: justify;
    text-align: center;
    margin: 30px 300px;
}

#recip h2{
    margin-bottom: 20px;
}