*{
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;

}

#navbar{
    display: flex;
    align-items: center;
    background-color: rgba(155, 142, 142, 0.24);
    position:fixed;
    height: 10%;
    width: 100%;
    
    
}


/* * Navigation Bar: logo and image */
#logo{
    margin: 4px -20px;
    
}

#logo img{
    height: 95px;
    margin-left: 10px;
    margin-right: 15px;
    
}

#navbar ul{
    display: flex;
    
}

#navbar ul li{
    list-style: none;
    font-size: 20px;
    
}
#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    text-decoration: none;
    
}



/* this is main content */
#home{
    display: flex;
    background: url(image/back/Frame\ 57.jpg) no-repeat center center/cover;
    /* margin-bottom: 20px; */
    

}



#home h1{
    font-size: 50px;
    margin-top: 130px;
    
    
}

/*  */

#second-section{
    display: flex;
    background: url(image/back/Frame\ 56.jpg) no-repeat center center/cover;
    
}

#second-section h1{
    font-size: 60px;
    margin-bottom: 30px;
}


.half-width{
    width: 50%;
    margin: 70px;
}

.top{
    margin-top: 130px;
}



.top p{
    margin-bottom: 30px;
}
.orange-color{
    color: orange;
}

a{
    color: white;
    padding: 10px;
    
}


.btn {
    padding: 6px 20px;
    border-radius: 20px;
    background-color: aqua;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
}

#recip{
    text-align: justify;
    text-align: center;
    margin: 30px 300px;
}

#recip h2{
    margin-bottom: 20px;
    font-size: 40px;
}

#recip-sec{
    display: flex;
    width: 80%;
    margin: auto;
}

.recip{
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 22px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 25px gray;
}

.recip img{
    height: 150px;
    width: 210px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 11px;
}

#fan{
    width: 80%;
    margin: auto;
    display: flex;
    border: 40px solid white;
    margin-bottom: 100px;
    margin-top: 100px;
    box-shadow: 10px 10px 25px gray;
    border-radius: 15px;
    
}

.fan-follower{
    margin: auto;
}

.fan-follower h2{
    font-size: 40px;

}

/* footer{
    border: 90px solid black;
    
    color: white;
    background-color: black;
    text-align: center;
} */


footer{
    background-color: black;
    color: white;
    padding: 30px 20px 100px 20px;
    text-align: center;
}

footer h3{
    padding-bottom: 40px;
    font-size: 30px;
}



